* {
	padding:0px;
	margin:0px;
}

body {
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
	background-color: rgba(255,255,255,1);
	overflow-x: hidden;

	-webkit-text-size-adjust: 100%;

}

#page {
	width: 100%;
	margin: 0 auto;
}

#main {
	width: 520px;
	margin: 0 auto;
	padding: 10px 0 0 0;
}
.info_box {
	padding: 25px 0px 10px;
	text-align: left;
	border-bottom:2px dotted #999;
}
.oshirase {
	width: 100%;
	text-align: left;
	line-height: 28px;
	font-size: 17px;
}
.title {
	font-size: 19px;
	color: #f90;
	font-weight: bold;
}
.title_R {
	font-size: 19px;
	color: #f00;
	font-weight: bold;
}
.date {
	font-size: 15px;
}
.futoji {
	font-weight: bold;
}
.chui {
	font-weight: bold;
}



.promotion_box {
  padding: 20px 0 30px;
}



/* ******************************** */

.dummy-foot {
	clear: both;
	width: 100%;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
	color: #CCC;
}

a img {
    border-style:none;
}

